Package            Version
------------------ ---------
attrs              21.4.0
Babel              2.9.1
bcrypt             3.2.0
beautifulsoup4     4.10.0
certifi            2021.10.8
cffi               1.15.0
chardet            4.0.0
charset-normalizer 2.0.12
cryptography       36.0.1
dataclasses        0.8
decorator          5.1.1
docopt             0.6.2
docutils           0.18.1
flanker            0.9.11
future             0.18.2
html2text          2020.1.16
idna               3.3
infi.win32service  0.1.9
Jinja2             2.10.1
lazop-sdk-python   1.1.0
lxml               4.7.1
Mako               1.1.6
MarkupSafe         2.0.1
num2words          0.5.10
oauthlib           3.2.0
ofxparse           0.21
paramiko           2.7.2
passlib            1.6.5
phonenumbers       8.12.44
Pillow             8.4.0
pip                21.3.1
ply                3.11
psutil             5.9.0
psycopg2-binary    2.9.3
pycparser          2.21
PyNaCl             1.5.0
pyOpenSSL          22.0.0
PyPDF2             1.26.0
python-dateutil    2.8.2
pytz               2021.3
pywin32            303
PyYAML             5.4.1
regex              2022.1.18
reportlab          3.5.13
requests           2.27.1
setuptools         28.8.0
six                1.16.0
soupsieve          2.3.1
suds-py3           1.4.5.0
tld                0.12.6
urllib3            1.26.8
WebOb              1.8.7
Werkzeug           0.16.0
wkhtmltopdf        0.2
